<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestLabPro TestSuite" parallel="false">
	<test name="testone">
		<groups>
		<run>
		<include name="Dev"></include>
		</run>
		</groups>
		<classes>
			<class name="com.framework.testCases.TestCases" />
			
		</classes>
	</test>
</suite> 
